.button_caffeine {
    background: #846046;
}

.button_week_caffeine {
    background: #CB8A58;
}

.button_input_color {
    border-radius: 90px;
    background: #B29F91;
}

.button_add_drink_color {
    border-radius: 124px;
    background: #768189;
}

.button_nonActive_color {
    border-radius: 90px;
    background: #DDD;
}

.font_caffeine_color {
    color: #562B1A;
}

.button_sugar {
    background: #374B59;
}

.button_week_sugar {
    background: #68A2CC;
}

.font_sugar_color {
    color: #374B59;
}

.font_red {
    color: #F00;
}

.font_green {
    color: 008000;
}

.font_gray {
    color: #B9BCBE;
}

.button_select {
    border-radius: 90px;
    border: 2px solid #846046;
    background: var(--Color, #FFF);
}

.button_caffeine {
    border-radius: 90px;
    background: #846046;
}

.shading {
    border-radius: 45px;
    border: 1px solid #EFEFEF;
    background: var(--Color, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}